.promo, .promo > .container .buttons, .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: #cc9900;
  font-family: "YesevaOne Regular", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer {
  clear: both;
}

.container {
  max-width: 1250px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: absolute;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  height: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header > .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header > .container .logo {
  background-image: url(img/Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 164px;
  height: 96px;
}

header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav-menu ul li {
  margin-left: 50px;
}

header .nav-menu ul li:first-child {
  margin: 0;
}

header .nav-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "GentiumBook Bold";
  font-size: 21px;
  text-align: left;
}

header .nav-menu .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
}

header .nav-menu .header-icons .icon {
  margin: 0 0.3rem;
}

header .nav-menu .header-icons .icon:last-child {
  margin-right: 0;
}

.promo {
  width: 100%;
  height: 750px;
  max-height: 750px;
  background-image: url(./img/PromoBG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.promo_divider {
  width: 230px;
  height: 50px;
  margin: 30px 0;
  background-image: url(./img/devider.png);
}

.promo > .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promo > .container .promo-text {
  display: inline-block;
  max-width: 970px;
  font-size: 90px;
  color: #fff;
  font-family: "YesevaOne Regular", sans-serif;
  margin: 0 auto;
  text-align: center;
  -webkit-filter: drop-shadow(0.469px 0.883px 1px rgba(1, 1, 1, 0.64));
          filter: drop-shadow(0.469px 0.883px 1px rgba(1, 1, 1, 0.64));
}

.promo > .container .buttons .btn {
  margin: 0 1rem;
}

.promo > .container .buttons .black {
  width: 228px;
  height: 57px;
  background-color: rgba(0, 0, 0, 0.701961);
  border: 1px solid #000000;
  font-size: 18px;
  color: #ffffff;
  font-family: "Lato Regular";
  text-align: center;
  text-transform: uppercase;
}

.promo > .container .buttons .white {
  width: 228px;
  height: 57px;
  background-color: rgba(255, 255, 255, 0.278431);
  border: 1px solid #ffffff;
  font-size: 18px;
  color: #ffffff;
  font-family: "Lato Regular";
  text-align: center;
  text-transform: uppercase;
}

.about {
  width: 100%;
  min-height: 710px;
  background-image: url(./img/aboutBG.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about::before {
  content: '';
  position: absolute;
  opacity: 2%;
  width: 100%;
  height: 710px;
  background-image: linear-gradient(-43deg, #010101 0%, #fff 100%);
}

.about > .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .heading {
  width: 40%;
  max-width: 432px;
}

.about .heading .heading_p {
  font-size: 36px;
  color: #cc9900;
  font-family: "YesevaOne Regular";
  text-align: center;
}

.about .heading p {
  font-size: 16px;
  line-height: 1.5;
  color: #4c4c4c;
  font-family: "Lato Regular";
  text-align: center;
}

.about .heading .divider {
  margin: 1rem auto;
  width: 230px;
  height: 25px;
  background-image: url(../../img/Divider2.png);
  -webkit-filter: invert(53%) sepia(85%) saturate(1064%) hue-rotate(15deg) brightness(95%) contrast(105%);
          filter: invert(53%) sepia(85%) saturate(1064%) hue-rotate(15deg) brightness(95%) contrast(105%);
}

.about .heading .cook {
  margin: 4rem auto 0 auto;
  width: 219px;
  height: 221px;
  background-image: url(../../img/cook.png);
}

.about .dish {
  width: 50%;
  height: 600px;
  background-image: url(../../img/dish.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */